<div class="btn-group <%=klass%>">
	<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">
		<span class="fa fa-square-o"></span> &nbsp;<span class="caret"></span>
	</button>
	<ul role="menu" class="dropdown-menu">
		<li>
			<span class="fa fa-check-square-o"></span> <a href="javascript:void(0);" class="result_select_all" style="display: inline-block">Select All</a>
		</li>
		<li>
			<span class="fa fa-square-o"></span> <a class="result_deselect_all" href="javascript:void(0);" style="display: inline-block">Deselect All</a>
		</li>
		<li>
			<span class="glyphicon glyphicon-refresh"></span> <a class="result_invert_sel" href="javascript:void(0);" style="display: inline-block">Invert Selection</a>
		</li>
	</ul>
</div>