<div class="rightpanel">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#rp-alluser" data-toggle="tab"><i class="fa fa-users"></i></a></li>
    <li><a href="#rp-favorites" data-toggle="tab"><i class="fa fa-heart"></i></a></li>
  </ul>
        
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="rp-alluser">
      <h5 class="sidebartitle">Online Users</h5>
      <ul class="chatuserlist">
        <li class="online">
          <div class="media">
            <a href="#" class="pull-left media-thumb">
              <%= image_tag "photos/userprofile.png", class: "media-object" %>
            </a>
            <div class="media-body">
              <strong>Eileen Sideways</strong>
              <small>Los Angeles, CA</small>
            </div>
          </div><!-- media -->
        </li>
        
      </ul>
    </div>
        
  </div><!-- tab-content -->
</div><!-- rightpanel -->