

form#adv_crit_form {
  .select2-container .select2-choice abbr {
    top: 12px;
  }
}.mt2 {
  margin-top: 2px;  
}

.pdt5 {
  padding-top: 5px;
}

.pdt10 {
  padding-top: 10px;
}

#pleaseWaitDialog .modal-body {
  text-align: center;
  height: 100%;
}

.toggle-hidden-cb {                       
  opacity:0; 
  position:absolute; 
  top:0px;
}

.bar {
  text-align: center;
  color: #FFF;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.25);
  line-height: 5em;
  background: rgba(128,128,128,0.25);
  border-top: 1px solid rgba(250,253,255,0.2);
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}

.bar:before {
  content: '';
  position: absolute;
  z-index: -1;
  height: 100%;
  top: 0; right: 0; left: 0;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}

.vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#menu-right{
  display: none;
}
.leftpanel-collapsed{
  .leftpanelinner{
    #menu-left{
      display: none;
    }
    #menu-right{
      display: inline-block;
    }
  }
}
a{
  color: #1CAF9A;
}
a:hover{
  color:  #17a08c;
}
.contentpanel {
  padding: 10px;
}
.panel-heading, .panel-body {
  padding: 10px 15px;
}

#carrier_list.panel-body, #trunks_list.panel-body{
  height: 220px;
  overflow: scroll;
  ul li {
    padding: 8px;
  }
}
#carrier-panel1 {
  .panel-alt .panel-heading {
    padding: 10px;
    h3.panel-title {
      font-size: 12px;
    }
  }
}

#trunks_list{
  li{
    a{
      text-decoration: none;
    }
  }
}

#carrier_list{
  li{
    a{
      text-decoration: none;
      &:hover{
        background: #f9f9f9;
      }
    }
  }
  li.active{
    background: #1CAF9A;
    h4.sender{
      color: white;
    }
  }
}

#trunk_tags{
  li.tag{
    display: inline-block;
    background: white;
    padding: 5px 10px;
    border: 1px solid #ccc;
    position: relative;
    padding-right: 40px;
    margin-right: 5px;
    .tag-remove{
      padding: 8px;
      position: absolute;
      right: 0px;
      top: 0px;
      background: #e8e8e8;
      height: 100%;
      display: inline-block;
      border-left: 1px solid #ccc;
    }
  }
}
.error, .errors {
  color: #a94442;
}

#batch-edit-options {
  background-color: #DFEEEC;
  padding: 10px 10px 15px;
}
.dataTables_paginate {
  margin-top: 10px;
}
.searchRate {
  position: relative;
  right:10px;
  top: -3px;
}
.wd10 {
  width: 10px;
}
.ui_tpicker_millisec_label, .ui_tpicker_millisec,
.ui_tpicker_microsec_label, .ui_tpicker_microsec,
.ui_tpicker_timezone_label, .ui_tpicker_timezone {
  display: none;
}
.table-responsive {
  table#rates.dataTable {
    tbody td {
      padding: 3px 10px;
    }
  }
}
.btn-xs {
  padding: 2px 8px;
}
.modal-body {
  overflow: hidden;
}
#alerts {
  color: #1caf9a;
}
input.payment-details {
  margin-top: 0;
}

.table-order-confirm {
  box-shadow: none;
  margin-top: 20px;
}

tr.clickable-row { 
  cursor: pointer; 
}

.manage-dids-actions .caret {
  height: 6px;
}

.manage-dids-actions .btn-group {
  margin-bottom: 0px;
}

#cctypedimmer {
    background: transparent image-url('cards.png');
    margin: 0 0 10px 0;
    padding: 0 0 0 150px;
    width: 0;
    height: 23px;
    overflow: hidden;
}

#did_groups_container {
  div.checkbox_toggler_container .btn {
      border: medium none;
      font-size: 15px;
      line-height: 5px;
      padding: 3px;
  }

  div.btn-group {
    margin-bottom: 2px;
  }

  .dataTables_filter input {
    padding: 0px;
    margin-right:19px;
  }

  /*DID Groups Datatable Up-Down arrows CSS: Start*/
  .dataTable thead > tr > th:nth-child(1) {
      background:none;
  }

  .dataTable thead > tr > th {
      background-position: 90% center;
  }

  .dataTables_paginate 
  a.paginate_button, .dataTables_paginate a.paginate_active {
     padding: 4px 10px;
  }

  /*.dataTables_wrapper {
    margin-bottom: 0px;
    max-height: 100px;
    overflow: auto;
  }*/

  .dataTables_scrollHead {
    height: 22px;
  }

  /*Admin Manage DID Datatable Up-Down arrows CSS: Start*/
  #no_group_table thead > tr > th:nth-child(1) {
      background:none;
  }

  #no_group_table thead > tr > th:nth-child(2) {
      background-position: 90% center;
  }
}

#did_groups_container .table thead > tr > th,
#did_groups_container .table tbody > tr > th,
#did_groups_container.table tfoot > tr > th,
#did_groups_container .table thead > tr > td,
#did_groups_container .table tbody > tr > td,
#did_groups_container .table tfoot > tr > td {
   padding: 2px;
}

.did-settings-dlg table#destination_table td {
  vertical-align: middle;
}

.settings-error {
  border: 1px solid #a94442;
  border-radius: 3px;
}

form.form-bordered label.mt10 {
  margin-top:10px;
}

div.paging_simple_numbers span {
  float:left;
  margin-right: 5px;
}

#routing_plans_container .pagination {
    margin: 5px 0;
}

tr.rate-fields, tr.rate-new-fields {
  .ui-spinner-input {
      padding: 7px;
  }

  .ui-spinner-up {
      background-position: 2px -41px;
  }

  .ui-spinner-down {
      background-position: 2px 6px;
  }

  .ui-spinner-button {
      width: 15px;
  }

  .input-sm {
      font-size: 11px;
      margin-top: 0px;
      padding: 7px 6px;
  }
}

.rate-sheet-container {
  a.btn-xs {
      padding: 3px;
  }  

  a.btn {
    font-size: 11px;
    line-height: 14px;
    margin: 1px;
  }

  div.checkbox_toggler_container {
    .btn {
      line-height: 5px;
      padding: 2px;
      font-size: 15px;
      border: none;
    }
  }

  div.checkbox_toggler_container.btn-group {
    margin-bottom: 0px;
  }

  .pagination {
    margin:0px;
  }

  .table-striped > tbody > tr > td {
    font-size: 12px;
    padding: 2px 5px;
    vertical-align: middle;
  }

  .popover .arrow {
    display:none;
  }

  .fg-adj-row {
    padding: 7px 6px;
    font-size: 12px;
    color: #555;
  }
}

.xdsoft_datetimepicker .xdsoft_timepicker {
  width: 50px;
}

.btn-small.disabled {
    box-shadow: none;
    cursor: not-allowed;
    opacity: 0.65;
    pointer-events: none;
}

.ratesheets-container {
  a.btn-xs {
      padding: 4px;
  }  

  a.btn {
    font-size: 12px;
    line-height: 14px;
    margin: 1px;
  }  
}

.batch-edit-dlg {
  .modal-header {
    padding: 10px 15px;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

  input#effective_time_val {
    font-size: 12px;
  }
}

#carriers_table {
  .btn-xs {
    padding: 1px 4px;
  }
}

#carriers_table, #users_table,
#support_tickets_table {
  div.checkbox_toggler_container .btn {
    border: medium none;
    font-size: 15px;
    line-height: 5px;
    padding: 2px;
  }  
  
  div.checkbox_toggler_container.btn-group {
    margin: 0 0 0 7px;
  }
}

.multiselect {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 12em;
    overflow: auto;
    padding: 5px;
    width: 15em;

    /*label {
      display:block;
      margin-bottom: 0px !important;
      padding: 0px 5px;
    }*/
}
 
.multiselect-on {
    color:#ffffff;
    background-color:#1caf9a;
}

.dataTables_nowrap {
  th, td { 
    white-space: nowrap;
  }
}

.dataTables_scroll {
    overflow: auto;
    height: 500px;
}

table.dataTable thead th {
    position: relative;
    padding-right: 20px;
}

table.dataTable thead th:after {
    position: absolute !important;
    right: 0px;
}

.cdr-search-container table#reports_table tbody td {
    font-size: 12px;
    line-height: 0.429;
}

.sip-style {
    .table-striped > tbody > tr.odd > td {
      background-color: #f5f5f5;
    }

    .table-striped > tbody > tr.even > td {
      background-color: #fcfcfc;
    }

    .table-hover > tbody > tr.odd:hover > td {
      background-color: #dfeeec;
    }

    .table-hover > tbody > tr.even:hover > td {
      background-color: #dfeeec;
    }

    .table-hover > tbody > tr.checked > td {
      background-color: #dfeeec;
    }
}

.sip-style-selectable {
   @extend .sip-style;
}

#support_tickets_table .btn-group {
  margin-bottom: 0px;
}

.smssettings-body #submit-opts {
  margin-bottom: 15px;
  margin-top: 17px;
}

.popover {
  max-width: 600px;
}

#pwstrength_viewport_progress {
  div.progress {
    height: 20px;
    margin-top: 10px;
  }
}

.validity-success {
  font-size: 20px;
  color: #1caf9a;
  margin-top:10px;
}

.validity-fail {
  font-size: 20px;
  color: #d14;
  margin-top:10px;
}

.intl-tel-input.allow-dropdown .flag-container {
  left: 0;
  max-height: 32px;
  right: auto;
}

.intl-tel-input.allow-dropdown.separate-dial-code .selected-dial-code {
  font-size: 12px;
}

.sec-contacts{
  width: 100%
}

.contacts-tab {
  .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-2 .selected-flag {
    width: 50px;
  }

  .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-3 .selected-flag {
    width: 55px;
  }

  .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-4 .selected-flag {
    width: 62px;
  }

  .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-5 .selected-flag {
    width: 68px;
  }

  .intl-tel-input .selected-flag {
    padding: 0 0 0 2px;
  }

  .iti-flag {
    width: 15px;
  }

  .intl-tel-input.allow-dropdown.separate-dial-code .selected-dial-code {
    padding-left: 18px;
  }

  .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-2 input, .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-2 input[type="text"], .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-2 input[type="tel"] {
      padding-left: 52px;
  }

  .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-3 input, .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-3 input[type="text"], .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-3 input[type="tel"] {
      padding-left: 57px;
  }

  .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-4 input, .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-4 input[type="text"], .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-4 input[type="tel"] {
      padding-left: 63px;
  }

  .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-5 input, .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-5 input[type="text"], .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-5 input[type="tel"] {
      padding-left: 69px;
  }

  .select2-container .select2-choice {
    font-size: 11px;
    line-height: 26px;
    padding: 3px 0 3px 8px;
  }

  .select2-container .select2-choice .select2-arrow {
    top: -1px;
  }      
}

.perms-cbox {
  display: block;
  min-height: 20px;
  position: relative;

  label {
      cursor: pointer;
      font-weight: 400;
      margin-bottom: 0;
      padding-left: 20px;
  }
  
  input[type="checkbox"] {
      margin-left: -20px;
      position: absolute;
  }
}

.label-high {
  padding: 4px 14px;
}

.label-low {
  padding: 4px 15px;
}

form#new_ticket_form {
  div.form-group {
    margin-bottom: 10px;
  }
}

.media {
    .media-body-internal {
        overflow:hidden;
    }  
}

.comment-list {
    .media-body-internal {
        font-size: 13px;
        position: relative;
        color: #636e7b; 
        padding:1px; 
        margin-bottom: 0px;
    }
}

form#adv_crit_form {
  .select2-container .select2-choice abbr {
    top: 12px;
  }
}


