<p>Hi <%= @name %>,</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Click here', confirmation_url(@resource, confirmation_token: @token) %> to confirm your email</p>

<br/>
Thanks<br/>
Sipsurge Support Team 
